nav{ 
display: flex;
font-weight: bold;
font-size: 32px;
padding-left: 130px;
padding-right: auto;
padding-top: 24px;
padding-bottom: 24px;
align-content: center;
opacity: 1.0;
justify-content: space-between;
}
.Pillars
{
padding-top: 24px;
}
.bd 
{
margin-bottom: 51px;
align-content: left;
line-height: auto;
}
.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}

.btn{
margin-right: 160px;
margin-left: auto;
color: #006A50;
padding: 15px 30px;
border-radius: 8px;
font-weight: bold;
font-size: 20px;
border: 2px solid #006A50;
opacity: 1.0;
cursor: pointer;
}

.banner{
background-color: #C6E4D6;
display: flex;
margin: 160px 120px 160px;
padding: 80px 100px;
border: none;
border-radius: 24px;
opacity: 1.0;
justify-content: space-between;
}

.bg
{
color: #999494;
}

.old
{
margin-right: 60px;
margin-top: 80px;
margin-bottom: 80px;
}
.new
{
margin-left: 60px;
margin-top: 117px;
margin-bottom: 117px;
align-content: normal;
}
.head
{
    text-align: left;
    font-weight: bold;
    font-size: 56px;
}

.text
{
    margin-left: 160px;
    margin-right: 160px; 
}

.text-doc
{
    border-radius: 8px;
    opacity:1.0;
    margin-left: 5px;
    color: white;
    background-color: #006A50;
    align-content: center;
    padding: 17px 34px;
    border:none;
    cursor: pointer;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.token{
    display: flex;
    margin-left: 120px;
    margin-right: 160px;
    gap: 24px;
}
.doc{
    font-weight: bold;
    font-size: 40px;
    margin-left: 120px;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 32px;
    align-content: left;
    line-height: auto;
    letter-spacing: 0%;
    vertical-align: 80px;
}
.card
{
    background-color: #FFFFFF;
    border-radius: 16px;
    border: #0e0d0d;
    opacity: 1.0;
    align-content: top,left;
    margin-top: 32px;
    margin-bottom: 80px;
   padding: 24px 24px 24px 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.font{
    font-weight: regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    align-content: left;
}

.vision
{
    display: flex;
    margin-left: 120px;
    margin-right: 160px;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 24px;
    align-content: left;
}

.divisions
{
    margin-left: 120px;
    margin-right: 160px;
    margin-top: 80px;
    margin-bottom: 32px;
    vertical-align: 24px;
    align-content: top,left;
}
.paragraph
{
    font-weight: regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    align-content: left;
    opacity: 1.0;
    color: #0E0E0E;
}
.vision-card
{
border-radius: 16px;
align-content: top,left;
padding: 32px 32px;
opacity: 1.o;
position: inside;
background-color: rgba(84, 144, 245, 0.2);
border: #5490F5;
}

.dream-card
{
    border-radius: 16px;
    align-content: left;
    padding: 32px 32px;
    opacity: 1.o;
    position: inside;
    background-color: rgba(198, 228, 214, 1);
    border: #09A15C;
}

.trump-card
{
    border-radius: 16px;
align-content: left;
padding: 24px 24px;
opacity: 1.o;
position: inside;
background-color: #F7EBCF;
border: #FFC239;
}

.vision-text
{
    vertical-align: 24px;
}

.dream-text
{
    vertical-align: 24px;
}

.trump-text
{
    vertical-align: 24px;
}

.access
{
    align-content: center;
    padding: 11px 20px;
    opacity: 1.0;
    border-radius: 8px;
    background-color: #5490F5;
    cursor: pointer;
    color: white;
    border: white;
    vertical-align: 24px;
}

.green
{
    align-content: center;
    padding: 11px 20px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: 256.57px;
    margin-top: 15px;
    opacity: 1.0;
    border-radius: 8px;
    background-color: #09A15C;
    cursor: pointer;
    color: white;
    border: white;
    vertical-align: auto;
}

.grade
{
    align-content: center;
    padding: 11px 20px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: 256.57px;
    margin-top: 15px;
    opacity: 1.0;
    border-radius: 8px;
    background-color: #FFC239;
    cursor: pointer;
    color: white;
    border: white;
    vertical-align: auto;
}

.text1,.text2,.text3
{
    font-size: 16px;
    font-weight: regular;
    color: #0E0E0E;
    line-height: 24px;
    letter-spacing: 0%;
    align-content: left;
    opacity: 1.0;
}