nav{ 
display: flex;
font-weight: bold;
font-size: 32px;
padding-left: 130px;
padding-right: auto;
padding-top: 24px;
padding-bottom: 24px;
align-content: center;
opacity: 1.0;
justify-content: space-between;
}
.Pillars
{
padding-top: 24px;
}
.bd 
{
margin-bottom: 51px;
align-content: left;
line-height: auto;
}
.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}

.btn{
margin-right: 160px;
margin-left: auto;
color: #006A50;
padding: 15px 30px;
border-radius: 8px;
font-weight: bold;
font-size: 20px;
border: 2px solid #006A50;
opacity: 1.0;
cursor: pointer;
}

.banner{
background-color: #C6E4D6;
display: flex;
margin: 160px 120px 160px;
padding: 80px 100px;
border: none;
border-radius: 24px;
opacity: 1.0;
justify-content: space-between;
}

.bg
{
color: #999494;
}

.old
{
margin-right: 60px;
margin-top: 80px;
margin-bottom: 80px;
}
.new
{
margin-left: 60px;
margin-top: 117px;
margin-bottom: 117px;
align-content: normal;
}
.head
{
    text-align: left;
    font-weight: bold;
    font-size: 56px;
}

.text
{
    margin-left: 160px;
    margin-right: 160px; 
}

.text-doc
{
    border-radius: 8px;
    opacity:1.0;
    margin-left: 5px;
    color: white;
    background-color: #006A50;
    align-content: center;
    padding: 17px 34px;
    border:none;
    cursor: pointer;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.token{
    display: flex;
    margin-left: 120px;
    margin-right: 160px;
    gap: 24px;
}
.doc{
    font-weight: bold;
    font-size: 40px;
    margin-left: 120px;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 32px;
    align-content: left;
    line-height: auto;
    letter-spacing: 0%;
    vertical-align: 80px;
}
.card
{
    background-color: #FFFFFF;
    border-radius: 16px;
    border: #0e0d0d;
    opacity: 1.0;
    align-content: top,left;
    margin-top: 32px;
    margin-bottom: 80px;
   padding: 24px 24px 24px 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.font{
    font-weight: regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    align-content: left;
    opacity: 1.0;
    color: rgba(14, 14, 14, 0.7);
}

.vision
{
    display: flex;
    margin-left: 120px;
    margin-right: 160px;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 24px;
    align-content: left;
}

.divisions
{
    margin-left: 120px;
    margin-right: 160px;
    margin-top: 80px;
    margin-bottom: 32px;
    vertical-align: 24px;
    align-content: top,left;
}
.paragraph
{
    font-weight: regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    align-content: left;
    opacity: 1.0;
    color: rgba(14, 14, 14, 0.7);
}
.vision-card
{
border-radius: 16px;
align-content: top,left;
padding: 32px 32px;
opacity: 1.o;
position: inside;
background-color: rgba(84, 144, 245, 0.2);
border: #5490F5;
}

.dream-card
{
    border-radius: 16px;
    align-content: left;
    padding: 32px 32px;
    opacity: 1.o;
    position: inside;
    background-color: rgba(198, 228, 214, 1);
    border: #09A15C;
}

.trump-card
{
    border-radius: 16px;
align-content: left;
padding: 24px 24px;
opacity: 1.o;
position: inside;
background-color: #F7EBCF;
border: #FFC239;
}

.vision-text
{
    vertical-align: 24px;
}

.dream-text
{
    vertical-align: 24px;
}

.trump-text
{
    vertical-align: 24px;
}

.access
{
    align-content: center;
    padding: 11px 20px;
    opacity: 1.0;
    border-radius: 8px;
    background-color: #5490F5;
    cursor: pointer;
    color: white;
    border: white;
    vertical-align: 24px;
}

.green
{
    align-content: center;
    padding: 11px 20px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: 256.57px;
    margin-top: 15px;
    opacity: 1.0;
    border-radius: 8px;
    background-color: #09A15C;
    cursor: pointer;
    color: white;
    border: white;
    vertical-align: auto;
}

.grade
{
    align-content: center;
    padding: 11px 20px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: 256.57px;
    margin-top: 15px;
    opacity: 1.0;
    border-radius: 8px;
    background-color: #FFC239;
    cursor: pointer;
    color: white;
    border: white;
    vertical-align: auto;
}

.text1,.text2,.text3
{
    font-size: 16px;
    font-weight: regular;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;      
    letter-spacing: 0%;
    align-content: left;
    opacity: 1.0;
}

.batch
{
    margin-left: 120px;
    padding: 48px 24px;
    align-content: left;
    opacity: 1.0;
    border-radius: 16px;
    border: rgba(14, 14, 14, 0.15);
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-position-x: 23px;
    background-position-y: 32px;
    background: spacing 9px;
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    color: rgba(14, 14, 14, 0.8);

}
.Lorem
{
    color: rgba(14, 14, 14, 0.8);
}
.batch p
{
    color: rgba(14, 14, 14, 0.8);
}
.batch small
{
    color: rgba(14, 14, 14, 0.6);
}
  
  .cite {
    display: block;
    font-weight: SemiBold;
    font-size: 20px;
    line-height: 24px;
    align-content: left;
    letter-spacing: 0%;
    margin-top: 20px;
    vertical-align: 12px;
  }
  
  .small {
    display: block;
    font-weight: regular;
    font-size: 16px;
    margin-top: 5px;
    line-height: 24px;
    letter-spacing: 0%;
    align-content: left;
  }

  .opinion
    {
        margin-left: 120px;
        margin-right: 160px;
        margin-top: 80px;
        margin-bottom: 24px;
        align-content: left;
    }
    .opinion-card
    {
        display: flex;
        gap: 16px;
        flex-direction: column;
    }

    .opinion-box
    {
      background-color: #FFFFFF;
      border-radius: 0px;
      margin-left: 120px;
      align-items: top left;
      padding: 0px 0px 0px 0px;
      opacity: 1.0;
      flex-direction: column;
      width: 80%;
    }

    .opinion-box h2
    {
      text-align: left;
      font-weight: bold;
      font-size: 40px;
      line-height: auto;
      letter-spacing: 0%;
      margin-bottom: 24px;
    }
    .opinion-header
    {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: top left;
        padding: 24px 24px;
        vertical-align: 24px;
        background-color: #C6E4D6;
        opacity: 1.0;
        border: #0E0E0E;
        position: inside;
        flex-direction: column;
    }
    .opinion-docs
    {
        background-color: #FFFFFF;
      border-radius: 16px;
      margin-left: 120px;
      align-items: top left;
      padding: 32px 32px 32px 32px;
      opacity: 1.0;
      flex-direction: column;
      width: 80%;
    }
    .opinion-text{
        display: flex;
        justify-content: space-evenly;

    }
    .opinion-text p
    {
        margin: 0px;
        font-size: 16px;
    }
    .opinion-text select
    {

        padding: 10px 14px;
        margin-top: auto;
        font-size: 14px;
        border-radius: 4px;
        opacity: 1.0;
        background-color: #C6E4D6;
        border: #0E0E0E;
        position:inside;
        align-items: center;
        font-weight: 1;
    }
    .cont
    {
        padding: 24px 24px;
        border-radius: 0px;
        opacity: 1.0;
        background-color: #FFFFFF;
        border: #0E0E0E;
        position: inside;
        align-items: top left;
    }
    .news
    {
        margin-top: 80px;
        margin-left: 120px;
        margin-right: 160px;
        align-content: top left;
        vertical-align: 24px;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
        opacity: 1.0;
        margin-bottom: 32px;
    }
    .news p
    {
        color: rgba(14, 14, 14, 0.69);
    }

    .news-card1
    {
        background-color: #FFFFFF;
        border-radius: 24px;
        margin-left: 120px;
        margin-right: 160px;
        margin-top: 32px;
        margin-bottom: 20px;
        align-items: left;
        padding: 48px 48px 48px 48px;
        opacity: 1.0;
        width: 80%;
        gap: 32px;
        display: flex;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .news-card2
    {
        background-color: #FFFFFF;
        border-radius: 24px;
        margin-left: 120px;
        margin-right: 160px;
        margin-top: 32px;
        margin-bottom: 20px;
        align-items: left;
        padding: 48px 48px 48px 48px;
        opacity: 1.0;
        width: 80%;
        gap: 32px;
        display: flex;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .news-card3
    {
        background-color: #FFFFFF;
        border-radius: 24px;
        margin-left: 120px;
        margin-right: 160px;
        margin-top: 32px;
        margin-bottom: 80px;
        align-items: left;
        padding: 48px 48px 48px 48px;
        opacity: 1.0;
        width: 80%;
        gap: 32px;
        display: flex;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
.news{
margin-left: 120px;
margin-right: 160px;
}
.news h1
{
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 40px;
    align-content: left;
    line-height: auto;
    opacity: 1.0;
    letter-spacing: 0%;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: outside;
}
.news text p
{
    margin-left: 120px;
    margin-right: 160px;
    font-weight: regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    align-content: left;
    opacity: 1.0;
    color: rgba(14, 14, 14, 0.7);
}
.gta
{
    align-content: top left;
    color: rgba(14, 14, 14, 0.7);
}
.Read
{
    align-content: center;
    padding: 11px 20px;
    margin-bottom: 8px;
    margin-top: 32px;
    opacity: 1.0;
    border-radius: 8px;
    background-color: #006A50;
    cursor: pointer;
    color: #FFFFFF;
    border: white;
    vertical-align: 32px;
}
.don
{
    text-align: center;

}
.p 
{
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
    font-weight: regular;
    font-size: 16px;
    line-height: 24px;
}
.bat
{
margin-left: 120px;
align-items: top center;
flex-direction: column;
padding: 0px 0px 0px 0px;
vertical-align: 32px;
margin-bottom: 80px;
margin-top:32px;
background-color: #FFFFFF;
border: rgba(14, 14, 14, 0.15);
}
.bot
{
    align-content: center;
    padding: 0px 0px 0px 0px;
    gap: 24px;
}
.a 
{
    align-content: left;
    cursor: pointer;
   padding: 40px 40px 40px 40px;
   gap: 24px;
   text-size-adjust: 80%;
   transition: 0.3s;
   padding: 12px 24px;
  font-size: 16px;
  border: 2px solid #ccc;
}
 .a:hover
 {
     background-color: #C6E4D6;
     color: #09A15C;
     text-decoration-color: #0e0d0d;
 }
 .other-amount {
    width: 300px;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 32px;
    margin-top: 32px;
    margin-left: 124px;
    margin-right: 124px;
  }
  
  .donate-now-btn {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    align-content: center;
    background-color: #17c387;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    position: inside;
    border: rgba(14, 14, 14, 0.1);
    vertical-align: 48px;
    opacity: 1.0;
    margin-left: 150px;
    margin-right: 264.5px;
    margin-top: 40px;
  }
  
  .donate-now-btn:hover {
    background-color: #14a373;
  }
  .fax 
  {
    display:grid;
    flex-direction: column;
    vertical-align: 24px;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;

  }
  .top
  {
    background-color: #e8f5ec;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newsletter-section
  {
    background-color: #e8f5ec;
    padding: 100px 80px 100px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-right: 160px;
    margin-bottom: 80px;
    box-sizing: adjust-box;
  }
  
  .newsletter-container
  {
    max-width: 600px;
    margin: 265px 80px 265px 80px;
    text-align:center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .newsletter-container h2
  {
    font-size: 24px;
    font-weight: bold;
    color: #003d33;
    margin-bottom: 10px;
    margin-left: 64px;
    margin-right: 64px;
  }
    .newsletter-container p
    {
        font-size: 16px;
        color: #555;
        margin-bottom: 20px;
    }
    .news-form
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-template-columns: 3fr 1fr;
    }
    .newsform input
    {
        padding: 40px 18px 40px 18px;
        flex: 1;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 70%;
    }
    .newsform button
    {
        padding: 34px 17px 34px 17px;
        font-size: 16px;
        background-color: #00543d;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        border: white;
    }
    .no-spam
    {
        margin-top: 10px;
        font-size: 14px;
        color: #777;
    } 

    footer
    {
        background-color:#FFFFFF;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 160px 80px 160px 80px;
        margin: 160px 120px 160px;
    }
    
    .socials
    {
        display: flex;
        gap: 23px;
        justify-content: space-around;
        align-content: center;
        vertical-align: 32px;
    }
